name: CI with UbuntuGIS PPA

on:
  push:
  pull_request:
  schedule:
  # 01:00 Pacific Time (in UTC), every Friday (morning)
  - cron:  '0 8 * * 5'

jobs:
  test-with-ubuntugis-ppa:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Add PPA
      run: |
        sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable
    - name: Install GRASS GIS and other dependencies
      run: |
        sudo apt-get update -qq
        sudo apt-get install -y -qq grass grass-dev grass-doc
    - name: Change shebang to just Python (7.6 needs python2)
      run: |
        sed -i s/python3/python/g ./r.futures/r.futures.pga/testsuite/test_r_futures_pga.py
    - name: Install the module
      run: |
        grass --tmp-location XY --exec g.extension extension=r.futures url=./r.futures/ --verbose
    - name: Cache data for testing
      id: cache-nc_spm_08_grass7
      uses: actions/cache@v1
      with:
        path: nc_spm_08_grass7
        key: ${{ runner.os }}-nc_spm_08_grass7
    - name: Get sample data for testing (NC SPM sample location)
      if: steps.cache-nc_spm_08_grass7.outputs.cache-hit != 'true'
      run: |
        grass --tmp-location XY --exec g.extension g.download.location --verbose
        grass --tmp-location XY --exec g.extension r.object.geometry --verbose
        grass --tmp-location XY --exec g.extension r.stream.distance --verbose
        grass --tmp-location XY --exec g.download.location url=https://grass.osgeo.org/sampledata/north_carolina/nc_spm_08_grass7.tar.gz dbase=~ --verbose
    - name: Run test (manually specified files)
      run: |
        cd ./r.futures/r.futures.pga/testsuite
        grass -c ~/nc_spm_08_grass7/test --exec ./test_r_futures_pga.py
        cd ../../r.futures.devpressure/testsuite
        grass ~/nc_spm_08_grass7/test --exec ./test_r_futures_devpressure.py
        cd ../../r.futures.parallelpga/testsuite
        grass ~/nc_spm_08_grass7/test --exec ./test_r_futures_parallelpga.py
        cd ../../r.futures.calib/testsuite
        grass ~/nc_spm_08_grass7/test --exec ./test_r_futures_calib.py
        cd ../../r.futures.potsurface/testsuite
        grass ~/nc_spm_08_grass7/test --exec ./test_r_futures_potsurface.py
        cd ../../r.futures.demand/testsuite
        grass ~/nc_spm_08_grass7/test --exec ./test_r_futures_demand.py
        rm -rf ~/nc_spm_08_grass7/test
